@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  color: #101750;
}

@layer utilities {
  .grid-overlap {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-product {
    grid-template-rows: 1fr max-content;
  }

  .grid-lister {
    grid-template-columns: max-content 1fr;
  }
}

@layer components {
  .dog {
    animation: dog 1s linear;
  }

  .loader {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }

  .loader::before {
    content: '';
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #8a8fb9;
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }

  @keyframes dog {
    0% {
      top: 78rem;
    }
    100% {
      top: 50rem;
    }
  }
}
