@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  color: #101750;
}

@layer utilities {
  .grid-overlap {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
